<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 0;">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-dark">
            <i class="fas fa-align-left"></i>
        </button>                    
    </div>
</nav>